<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Tüm Kategoriler
  </a>
  <% categories.forEach(c => { %>
    <a href="#" class="list-group-item list-group-item-action"><%= c %></a>
  <% }) %>
</div>